* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  text-align: center;
  padding-bottom: 100px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  position: fixed;
  width: 100%;
  background-color: antiquewhite;
}

.header-nav {
  flex-wrap: wrap;
}

.header-title {
  border-bottom: solid;
  width: 100%;
  text-align: center;
  padding: 20px;
}


.header-nav>ul>li>a:hover {
  color: salmon;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

nav {
  padding: 10px 0;
}

#about {
  height: 100vh;
  gap: 50px;
}

.section-title {
  font-size: 3.5rem;
}

.intro {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.intro .text {
  min-width: 350px;
  max-width: 400px;
  margin: 0 20px;
}

.intro .text h3 {
  font-size: 2rem;
}

.intro .text h1 {
  font-size: 3rem;
}

.image {
  display: flex;
}

img {
  height: 400px;
  border-radius: 20px;
}



section {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 69px;
  flex-wrap: wrap;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skill-list>li {
  font-size: 2rem;
  width: 300px;
  border: solid black;
  border-radius: 8px;
  padding: 10px;
}

.skills-container>div>h2 {
  margin-bottom: 20px;
}

.project-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  transition: all .2s ease-in;
}

.project-card:hover {
  background-color: salmon;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: solid;
  padding: 20px;
  width: 300px;
  justify-content: space-between;
  border-radius: 10px;
}

.project-card>img {
  height: 150px;
}

.project-card>a {
  color: blue;
}

.contact-container {
  display: flex;
  border: solid;
  width: 300px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
}

.links-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links-menu>li {
  border: solid;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  transition: all .2s ease-in;
  font-weight: bold;
}

#contact {
  align-items: center;
}

.links-menu>li:hover {
  background-color: salmon;
}

/* 
Media Queries
 */

@media screen and (max-width: 500px) {
  .intro .text {
    text-align: center;
  }

  #skills {
    margin-top: 100px;
  }

}