* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  position: fixed;
  width: 100%;
  background-color: antiquewhite;
}

.header-title {
  border-bottom: solid;
  width: 100%;
  text-align: center;
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

nav {
  padding: 10px 0;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-title {
  font-size: 3.5rem;
}

.intro {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: start;
  justify-content: space-between;
}

.intro .text {
  min-width: 350px;
  max-width: 400px;
}

.intro .text h3 {
  font-size: 2rem;
}

.intro .text h1 {
  font-size: 3rem;
}

img {
  height: 350px;
  border-radius: 20px;
}

#skills {
  height: 100vh;
}

#projects {
  height: 100vh;
}

#contact {
  height: 100vh;
}

section {
  border-top: solid;
}